<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study F</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
    <link rel="icon" type="image/png" href = "images.png">
</head>
<body>

    <h2>lister</h2>

    <input type="text" id="item_input" placeholder="Enter">
    <button py-click="add">Add as flashcards</buton>
    <div id="out"></div>
    <script type="py">
        from pyscript import document
        mlist=[]
        def add_to_flash(x):
            elinp = document.querySelector("#item_input")
            user = elinp.value

            if user.strip() != "":
                mlist.append(user)
                elinp.value = ""
            out ="<ul>"
            for i in mlist:
                out += f"<li>{i}</li>"
            out += "</ul>"
            document.querySelector("#out").inerHTML = out
            print(out)
    </script>
</body>
</html>